@page "/hello-world"

<link href="css/helloworld.css" rel="stylesheet" />
<h1 class="welcome">Welcome to Blazor School (external css file)</h1>
<h1 class="welcome-scoped">Welcome to Blazor School (isolated css file)</h1>
<h1 class="welcome-internal">Welcome to Blazor School (internal css file)</h1>
<span>This is your component's template</span>
<style>
    .welcome-internal
    {
        color: green;
    }
</style>

@code { 

}