@page "/"

<h1>Blazor School</h1>
<div>Blazor tutorial for beginners, developers, and students. </div>
<div>This example demonstrates some showcases of Blazor Server component. Visit more tutorial at <a href="https://blazorschool.com">https://blazorschool.com</a></div>