<h3 class="embedded-style">I contains embedded CSS.</h3>
<style>
    .embedded-style
    {
        color: orange;
    }

    .embedded-style:after
    {
        content: ' I am embedded from EmbeddedCSS.razor';
        color: red;
    }
</style>