@page "/shared-css" 

<div>
    <div>First Embedded CSS component render</div>
    <EmbeddedCSS></EmbeddedCSS>
</div>

<div>
    <div>Second Embedded CSS component render</div>
    <EmbeddedCSS></EmbeddedCSS>
</div>

<div>
    <div>First External CSS component render</div>
    <ExternalCSS></ExternalCSS>
</div>

<div>
    <div>Second External CSS component render</div>
    <ExternalCSS></ExternalCSS>
</div>

<div class="embedded-style">Embedded CSS influence this div.</div>
<div class="external-style">External CSS influence this div.</div>
<div class="global">Global CSS influence this div.</div>