@page "/cascading-parameter"
@using BlazorComponent.Data.ComponentInteraction

<div style="border: 5px solid red; width: max-content">
    <h3>LampListContainer</h3>
    <div>Best lamp name: @Lamp.Name</div>
    <div>Best lamp price: @Lamp.Price</div>
    <button @onclick="ChangeBestLamp">Change best lamp information</button>
    <CascadingValue Value="Lamp">
        <LampList></LampList>
    </CascadingValue>
</div>

@code {
    public Lamp Lamp { get; set; } = new()
    {
        Name = "Best lamp",
        Price = 9999
    };

    private void ChangeBestLamp()
    {
        Lamp = new()
        {
            Name = "Changed from container",
            Price = 99
        };
    }
}