@page "/cascading-parameter"
@using BlazorComponent.Data.ComponentInteraction

<div style="border: 5px solid red; width: max-content">
    <h3>LampListContainer</h3>
    <div>Best lamp name: @MostSellLamp.Name</div>
    <div>Best lamp price: @MostSellLamp.Price</div>
    <button @onclick="ChangeBestLamp">Change best lamp information</button>
    <CascadingValue Value="MostSellLamp" Name="GoodLamp">
        <CascadingValue Value="WorstSellLamp" Name="BadLamp">
            <LampList></LampList>
        </CascadingValue>
    </CascadingValue>
    <div>Worst lamp name: @WorstSellLamp.Name</div>
    <div>Worst lamp price: @WorstSellLamp.Price</div>
</div>

@code {
    public Lamp MostSellLamp { get; set; } = new()
    {
        Name = "Best lamp",
        Price = 9999
    };

    public Lamp WorstSellLamp { get; set; } = new()
    {
        Name = "Worst lamp",
        Price = 2021
    };

    private void ChangeBestLamp()
    {
        MostSellLamp = new()
        {
            Name = "Changed from container",
            Price = 99
        };
    }
}