@using BlazorComponent.Data.ComponentInteraction

<div style="border: 5px solid blue">
    <h3>LampDetail</h3>
    <div>Best lamp name: @BestLamp.Name</div>
    <div>Best lamp price: @BestLamp.Price</div>
    <button @onclick="ChangeBestLamp">Change best lamp information</button>
    <div>Best lamp name: @WorstLamp.Name</div>
    <div>Best lamp price: @WorstLamp.Price</div>
</div>

@code {
    [CascadingParameter(Name = "GoodLamp")]
    public Lamp BestLamp { get; set; }
    [CascadingParameter(Name = "BadLamp")]
    public Lamp WorstLamp { get; set; }

    private void ChangeBestLamp()
    {
        BestLamp.Name = "Changed from detail";
        BestLamp.Price = 0;
    }
}
