@using Data.ComponentInteraction
@page "/passing-delegate"

<div style="border: 5px solid green; width: max-content;">
    <h3>PhoneDetail</h3>
    <div>
        <div>Phone Name: @Phone.Name</div>
        <div>Phone Battery: @Phone.BatteryPercentage</div>
    </div>
    <div>Passing parameters</div>
    <PhoneEdit Phone="Phone" OnUpdatePhoneValue="Render" OnUpdatePhoneValueAsync="RenderAsync"></PhoneEdit>

    <div>Without passing paramter</div>
    <PhoneEdit></PhoneEdit>
</div>

@code {
    public Phone Phone { get; set; } = new();

    public void Render()
    {
        StateHasChanged();
    }

    public async Task RenderAsync()
    {
        await InvokeAsync(() => StateHasChanged());
    }
}
