@using BlazorComponent.Data.ComponentLifecycle

<h3>Car color: @Car.Color</h3>
<div>@((MarkupString)Log)</div>

@code {
    [Parameter]
    public Car Car { get; set; }
    private string Log;

    protected override void OnParametersSet()
    {
        Log += "CarDetail detected parameter changed <br>";
    }
}
