<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Component Blazor School Example</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="hello-world">
                <span class="oi oi-plus" aria-hidden="true"></span> Hello World
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="hooking-method">
                <span class="oi oi-plus" aria-hidden="true"></span> Hooking Method Example
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="call-sequence">
                <span class="oi oi-plus" aria-hidden="true"></span> Hooking Methods Calling Sequence Example
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="init-and-dispose">
                <span class="oi oi-plus" aria-hidden="true"></span> Initilize and Dispose Component Example
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="detect-changes">
                <span class="oi oi-plus" aria-hidden="true"></span> Detect Changes Example
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="css-isolation">
                <span class="oi oi-plus" aria-hidden="true"></span> CSS Isolation
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="override-css-isolation">
                <span class="oi oi-plus" aria-hidden="true"></span> Override CSS Isolation
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="shared-css">
                <span class="oi oi-plus" aria-hidden="true"></span> Shared CSS
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="cascading-parameter">
                <span class="oi oi-plus" aria-hidden="true"></span> Cascading Prameter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="parameter">
                <span class="oi oi-plus" aria-hidden="true"></span> Parameter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="passing-delegate">
                <span class="oi oi-plus" aria-hidden="true"></span> Parameter with Delegate
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="event-invoker">
                <span class="oi oi-plus" aria-hidden="true"></span> Sharing Data by Service
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="content-projection">
                <span class="oi oi-plus" aria-hidden="true"></span> Content Projection
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
